
header {
    background-color: #005047;
    span {
        color: white;
    }

    .right {
        color: white;
        display: flex;
        gap: 5px;
    }

   

}

header.dark {
    background-color: #090E11;
}

