footer {
    padding-bottom: 5px;
    border-top: 1px solid rgba(175, 175, 201, 0.466);
    padding-top: 5px;
    .nav {
        display: flex;
        flex-direction: column;
        
        span {
            font-size: 12px;
            cursor: pointer;
        }
    }
}

footer.dark {
    background-color: darken($color: grey, $amount: 40%);
    color: white;

    
}